.listing {
display: flex;
position: absolute;
box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 1000px;
    border-bottom: 1px solid black;
}

.container img{
    height: 250px;
    width: 250px;
}
.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    position: relative;
    height: 100%;
    display: flex;
}
.post-info {
    margin-left: auto;
    order: 2
}

