header {
    height: 40px;
    width: 100%;
    background-color: #5b5656;
    position: fixed;
    z-index: 100;
    top: 0;
}

nav {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}
nav a {
    margin-left: auto;
}

.Auth-btn {
    margin-left: auto
}
li {
    list-style: none;
    padding: 0 5px;
}

a {
    color: #7fcd91;
    text-decoration-line: none;
}