header {
    height: 40px;
    width: 100%;
    background-color: darkblue;
    position: fixed;
    z-index: 100;
    top: 0;
}

nav {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    
}

.Auth-btn {
    display: flex;
    right:0;
    position: absolute;
}
li {
    list-style: none;
    padding: 0 5px;
}

a {
    color: hotpink;
    text-decoration-line: none;
}