header {
    height: 40px;
    width: 100%;
    background-color: #5b5656;
    position: fixed;
    z-index: 100;
    top: 0;
}

nav {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
nav .right-side {
  
    font-size: 22px;
}
nav .right-side a {
    margin-right: 20px;
}

nav .search{
 
}

nav .left-side{
    margin-left: 20px;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}

.auth-btn {
    display: flex;
    font-size: 22px;
}
li {
    list-style: none;
    padding: 0 5px;
}

a {
    color: #7fcd91;
    text-decoration-line: none;
}