.user-info {
    display: flex;
    justify-content: space-between;
    background-color: #5b5656;
    color: #f5eaea;
    min-height: 250px;
    min-width: 1300px;
    margin-left: auto;
    order: 2;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.75);

}

.user-info div span {
    margin: 20px 50px;
    font-size: 23px;
    font-weight: bold;
}

.stats{
    margin-top: 50px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.will-be-img {
    min-height: 250px;
    min-width: 250px;
    order: 1;
    background-color: hotpink;
    border-radius: 5px;
    margin-right: auto;
}

.profile-card {
    display: flex;
    margin: 65px 100px;
}

.stats-num {
    font-size: 60px;
}

p {
    margin-top: 15px;
}

.data-container {
    margin-top: 55px;
}

.greeting {
    margin-top: 5px;
    margin-left: 50px;
    font-size: 55px;
}
h4 {
    margin-top: 5px;
    margin-right: 50px; 
}