img {
    margin: 0 25px;
    height: 500px;
    width: 500px;
    border-radius: 5px;
}

.row-info {
    justify-content: space-between;
    display: flex;
    margin-top: 25px;
}

.item-info {
    min-width: 1100px;
    height: 500px;
    background-color: hotpink;
    margin: 0 50px;
    border-radius: 5px;
}

.row-user-more {
    margin: 50px 25px;
    margin-top: 20px;
    margin-bottom: 0;
    width: 500px;
    height: 300px;
    background-color: hotpink;
    border-radius: 5px;
}

.main-post-show {
    margin-top: 40px;
}

.title-post-show {
    text-align: left;
    margin-left:25px; 
}

